.modal__body {
    display: grid;
    padding-top: 5px;
}

.modal__container {
    margin: auto;
    width: 50%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 200px;
}

.modal__open__button {
    background: transparent;
    border: transparent;
    color: white;
}

.modal__content {
    background-color: rgba(0, 0, 0, 0.226);
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.modal__book__cover,
.modal__book__title,
.modal__book__description {
    color: white;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(206, 186, 186);
}

.modal__btn_close {
    width: 45%;
    margin-top: 5px;
    color: #fffbfb;
    float: right;
    font-size: 100%;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(255, 5, 5, 0.596);
    border-color: rgba(255, 7, 7, 0.658);
}

.modal__btn__send {
    margin-top: 5px;
    width: 45%;
    color:  rgba(255, 255, 255, 0.87);
    float: left;
    font-size: 100%;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(62, 196, 69, 0.527);
    border-color: rgba(62, 196, 69, 0.623);
    text-align: center;
}

#bookCover {
    text-align: center;
    color: white;
}
